{% extends 'interface/base.html' %}
{% load static %}

{% block content1 %}
<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="{% static '/interface/assets/img/slack-logo.svg'  %}" alt="" />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">SkillFactory SlackBot</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Парсинг блога- Оповешание о новых постах - Уведомление
            студентов</p>
    </div>
</header>
<!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Настройки</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->

        <!-- Portfolio Item 1-->
        <div class="col-md-6 col-lg- mb-5 mx-auto">
            <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i>
                    </div>
                </div>
                <img class="img-fluid" src="{% static 'interface/assets/img/portfolio/cabin.png' %}" alt="" />
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- Portfolio Item 2-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i
                                class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="{% static 'interface/assets/img/portfolio/game.png' %}" alt="" />
                </div>
            </div>
            <!-- Portfolio Item 3-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i
                                class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="{% static 'interface/assets/img/portfolio/cake.png' %}" alt="" />
                </div>
            </div>
            <!-- Portfolio Item 4-->
            <div class="col-md-6 col-lg- mb-5 mx-auto">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i
                                class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="{% static 'interface/assets/img/portfolio/circus.png' %}" alt="" />
                </div>
            </div>
            <div class="row justify-content-center">
            </div>
        </div>
</section>

<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">Инструкции</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-8 ml-auto  mx-auto">
                <div class="lead">
                    Данное приложение имеет 2 задачи:
                    <hr>
                    <strong>Задача №1 (Основная):</strong>
                    Оповещать сотрудников SF в Slack о выходе всех новых статей по всем тематикам в блоге компании на
                    habr..
                    <hr>
                    <strong>Задача №2 (Дополнительная)</strong>
                    Оповещать студентов отдельных курсов о выходе статей по интересующей их тематике. Например, при
                    выходе статьи про Python оповещение придет в канал питонистов, но не придет в канал
                    дата-сайентистов.
                    <hr>
                    Для запуска задач нужно создать слак ботов. Слак ботов можно создавать сколько угодно. Каждый слак
                    бот
                    будет прикреплен к определенной задаче и отсылат сообщение в выбранный канал в соответствии с
                    выбранными настройками.<br>
                    Чтобы создать бота нажмите создать слак бота. Название бота пишите произвольное, но адекватное.
                    Токен слак бота нужно получить на сайте слака. Подробнее ниже...<br>
                    Канал бота необходимо писать через решетку. Например, #general <br>
                    Затем выберите номер задачи к которой будет прикреплен бот. Если выбираете задачу №2, то необходимо
                    написать теги для фильтрации.
                    Внимательно изучите теги на странице блога Skillfactory. Бот будет отсылат сообщения при точном
                    совпадении каждого тега.
                    <hr>
                    Чтобы правильно получить токен бота, необходимо выполнить шаг №1 инструкции из <a
                        href="https://www.digitalocean.com/community/tutorials/how-to-build-a-slackbot-in-python-on-ubuntu-20-04-ru"><span style="color: #000000;">этого
                        сайта</span></a><br>
                    Внимание, обязательно получите права chat:write на сайте слака, иначе бот не будет работать.<hr>
                    Следующий шаг выбрать задачу и запустить ее. У каждой задачи есть несколько режимов работы.
                    Если выбрать режим отправки сообщения сразу после появления поста, но остальные поля формы можно оставить как есть.
                    Для других задач имеются дополнительные поля. Например если выбрали режим отправки раз в неделю, то нужно выбрать день отправки 
                    в неделю от 1 до 7. <br>
                    Кнопка остановить останавливает последнюю запущенную задачу. Оранжевая кнопка останавливает таски обеих задач.<hr>
                    Также вы в любой момент можете отредактировать ранее созданных слак ботов либо удалить их. Например, если по каким то причинам
                    вы у вас был забанен текущий бот, то в списке ботов необходимо выбрать этот бот, и присвоить ему новый токен.<hr>
                    Если будут какие-либо вопросы или пожелания по доработке проекта, пишите мне в слак doszhan.m@mail.ru

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content1 %}
{% block content2 %}
<!-- Portfolio Modals-->
<!-- Portfolio Modal 1-->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog"
    aria-labelledby="portfolioModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fas fa-times"></i></span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"
                                id="portfolioModal1Label">Создать бота</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!--Config Form-->
                            <div>
                                <form style="text-align: center;" method="POST">
                                    {% csrf_token %}
                                    <p style="text-align: left;"><strong>Название бота:</strong>
                                        {{ form.name }}
                                    <p style="text-align: left;"><strong>Токен слак бота:</strong>
                                        {{ form.token }}
                                    <p style="text-align: left;"><strong>Канал бота:</strong>
                                        {{ form.channel }}
                                    <p style="text-align: left;"><strong>Номер задачи:</strong>
                                        {{ form.task }}
                                    <p style="text-align: left;"><strong>Задержка бота между отправками сообщении в
                                            секундах:</strong>
                                        {{ form.delay }}
                                    <p style="text-align: left;"><strong>Введите вступительный текст
                                            сообщения...:</strong>
                                        {{ form.editor_text }}
                                        <hr>
                                    <p style="text-align: left;"><strong>Для задачи №2 введите теги через
                                            запятую:</strong>
                                        {{ form.bot_tags }}
                                        <hr>
                                        <input class="btn btn-primary float-center" type="submit" value="СОХРАНИТЬ">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 2-->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog"
    aria-labelledby="portfolioModal2Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fas fa-times"></i></span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"
                                id="portfolioModal2Label">Конфигурировать Задачу №1</h2>
                            <hr>
                            <a class="btn btn-primary float-center" href="{% url 'parseconfig' %}">НАСТРОИТЬ И
                                ЗАПУСТИТЬ</a>
                            <hr>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 3-->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog"
    aria-labelledby="portfolioModal3Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fas fa-times"></i></span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"
                                id="portfolioModal3Label">Конфигурировать Задачу №2</h2>
                            <hr>
                            <a class="btn btn-danger float-center" href="{% url 'parseconfig2' %}">НАСТРОИТЬ И
                                ЗАПУСТИТЬ</a>
                            <hr>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 4-->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog"
    aria-labelledby="portfolioModal4Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fas fa-times"></i></span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"
                                id="portfolioModal4Label">Список ботов</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>

                            <div class="col-lg-8 col-lg-10 mx-auto">
                                <!--Bot list-->
                                <table width="100%" cellspacing="0" cellpadding="4">
                                    <tr>
                                        <td>
                                            <p style="text-align: center;"><strong>Название</strong></p>
                                        </td>
                                        <td>
                                            <p style="text-align: center;"><strong>Канал бота</strong></p>
                                        </td>
                                        <td>
                                            <p style="text-align: center;"><strong>Задача</strong></p>
                                        </td>
                                        <td>
                                            <p style="text-align: center;"><strong>Опции</strong></p>
                                        </td>
                                    </tr>
                                    {% for bot in bot_list %}
                                    <tr>
                                        <td>
                                            <p style="text-align: center;"><strong>{{ bot.name }}</strong></p>
                                        </td>
                                        <td>
                                            <p style="text-align: center;"><strong>{{ bot.channel }}</strong></p>
                                        </td>
                                        <td>
                                            <p style="text-align: center;"><strong>{{ bot.get_task_display }}</strong>
                                            </p>
                                        </td>
                                        <td>
                                            <a style="text-align: center;"
                                                href="{% url 'botedit' bot.id %}"><u>Редактировать</u></a><br>
                                            <a style="text-align: right;"
                                                href="{% url 'botdelete' bot.id %}"><u>Удалить</u></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock content2 %}