{% extends 'interface/base.html' %}
{% load static %}


{% block content1 %}
<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">

        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Конфигурация Задачи №2</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
    </div>
</header>
<section class="page-section portfolio" id="portfolio">
    <div class="container-md">
        <div class="col-lg-8 col-xl-6 mx-auto">
            <form style="text-align: center;" method="POST">
                {% csrf_token %}
                <div>
                    <p><strong>Введите таймаут парсера в минутах:</strong>
                    {{ form.parse_delay }}<br>
                    <p><strong>Режим работы:</strong>
                    {{ form.mode }}<br>
                    <p><strong>Во сколько минут отправить сообщение:</strong>
                    {{ form.minute }}<br>
                    <p><strong>В который час отправить сообщение:</strong>
                    {{ form.hour }}<br>
                    <p><strong>В какой день недели отправить сообщение:</strong>
                    {{ form.day }}<br>
                <input class="btn btn-primary float-center" type="submit" value="ЗАПУСТИТЬ">
                <a class="btn btn-danger mx-auto" href="/stop_bot?bot_type=2">ОСТАНОВИТЬ</a><br><br>
                <a class="btn btn-warning" href="{% url 'stop_all_bots' %}">ОСТАНОВИТЬ ВСЕ АКТИВНЫЕ ЗАДАЧИ</a>
            </form>
            </div>
        </div>
</section>
{% endblock content1 %}